<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        @* <FocusOnNavigate RouteData="@routeData" Selector="h1" /> *@
    </Found>
    <NotFound>
        <PageTitle>Not Signal</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
          <div id="boot-screen"
               class="fixed inset-0 flex flex-col items-center justify-center text-2xl">
            <div class="loading-progress-text text-5xl">NO SIGNAL</div>
          </div>
        </LayoutView>
    </NotFound>
</Router>
